[Unit]
Description=Cocomo Media Streaming Server

[Service]
Type=simple
ExecStart=/usr/bin/node /home/cocomo/repos/media-streaming-server
User=cocomo
Group=cocomo

[Install]
WantedBy=multi-user.target